body {
  margin: 0 auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 95%;
  margin-top: 2rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.first {
  width: 15%;
}
.last {
  width: 15%;
}
.middel {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.middel img {
  width: 20%;
  object-fit: contain;
}
.fixedWidth {
  width: 14% !important;
}

.title {
  flex-direction: row;
  width: 80%;
  margin-top: 5rem;
}

.form {
  /* height: 400px; */
  margin-top: 3rem;
  width: 50%;
  /* border: 1px solid #000; */
  min-width: 300px;
}
.input {
  width: 80%;
  direction: rtl;
  min-width: 150px;
}
.label {
  width: 20%;
  text-align: center;
  border: solid 1px #000;
  font-size: 23px;
  min-width: 130px;
}

@media screen and (max-width: 700px) {
  .label {
    font-size: 18px;
}
}

@media screen and (max-width: 1025px) {
  .footer .middel {
    width: 85%;
}

.form{
    width:65%;
}
}

.btn {
  margin: 1rem;
  min-width: 90px;
  background: rgb(0, 139, 19);
  border-radius: 10px;
  font-size: 23px;
  height: 30px;
  border: none;
  color: white;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 95%;
  margin-top: 2rem;
}
